* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  font-size: 14px;
  color: rgb(58, 58, 58);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  width: 34%;
  min-height: 400px;
  border: 1px solid rgb(58, 58, 58);
  border-radius: 10px;
  margin-top: 100px;
  margin-bottom: 50px;
  align-items: center;
  padding: 20px;
}

.update-btn {
  align-self: flex-end;
  border: none;
  background-color: transparent;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
  color: rgb(58, 58, 58);
}

.title {
  align-self: flex-start;
  font-size: 20px;
  margin-bottom: 20px;
  font-size: 22px;
}

.news-container {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.news {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  cursor: pointer;
}

.date {
  font-size: 12px;
}

.news-wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

.news-image {
  width: 75px;
  height: 45px;
}

.skeleton-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
}

.skeleton-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.skeleton-date {
  width: 200px;
  height: 17px;
  background: #b9b9b9;
  animation: pulse 1.5s infinite;
}

.skeleton-details {
  display: flex;
  width: 100%;
  gap: 17px;
}

.skeleton-image {
  width: 75px;
  height: 45px;
  background: #b9b9b9;
  animation: pulse 1.5s infinite;
}

.skeleton-titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skeleton-title {
  width: 500px;
  height: 17px;
  background: #b9b9b9;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.error-message-element {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: #f8f8f8d8;
  font-size: 16px;
}